## Machine Learning Pipelines

## NLP basics: Implement pipeline to clean text


### Pre-processing text data

Cleaning up the text data is necessary to highlight attriutes we want the model to pick up on. Pre-processing of text data is consisted of three steps:

    1. Remove punctuation
    2. Tokenization
    3. Remove stopwords
    4. Lemmatize/Stem

In [1]:
import pandas as pd
pd.set_option("display.max_colwidth", 100)

data = pd.read_csv("C://Users//Loube//Desktop//Ex_Files_NLP_Python_ML_EssT//Exercise Files//Ch01//01_03//Start//SMSSpamCollection.tsv", sep="\t", header=None)
data.columns = ['label', 'body_text']

data.head()

,label,body_text
0,ham,I've been searching for the right words to thank you for this breather. I promise i wont take yo...
1,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...
2,ham,"Nah I don't think he goes to usf, he lives around here though"
3,ham,Even my brother is not like to speak with me. They treat me like aids patent.
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!

## Remove punctuation

In [6]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [13]:
def remove_punct(text):
    text_nopunct = "".join([char for char in text if char not in string.punctuation])
    return text_nopunct

data['body_text_clean'] = data['body_text'].apply(lambda x: remove_punct(x))

data.head()

,label,body_text,body_text_clean
0,ham,I've been searching for the right words to thank you for this breather. I promise i wont take yo...,Ive been searching for the right words to thank you for this breather I promise i wont take your...
1,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive e...
2,ham,"Nah I don't think he goes to usf, he lives around here though",Nah I dont think he goes to usf he lives around here though
3,ham,Even my brother is not like to speak with me. They treat me like aids patent.,Even my brother is not like to speak with me They treat me like aids patent
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,I HAVE A DATE ON SUNDAY WITH WILL

## Tokenization

In [3]:
import re

## Remove stopwords

In [4]:
import nltk